body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(241, 239, 239);
}

.titulo{
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px rgb(231, 231, 231);
}

.profileContainer{
    margin-top: 2rem;
    padding: 5rem;
    width: 100%;
    background-color: #fff
}

.seekerContainer{
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: #fff
}

.interests{
    margin-right: 3rem;
    width: 25%;
    display: inline-flex;
}

.interests input{
    margin-right: 1rem;
    margin-top: .3rem;
}

#economicSectorsContainer{
    width: auto;
    display: flex;
    height: 30rem;
    flex-direction: column;
    flex-wrap: wrap;
}

#interestsContainer{
    width: auto;
    display: flex;
    height: 18rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.profileContainer h5{
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px rgb(207, 207, 207);
}

.articles{
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#mainContainer{
    margin-top: 2rem;
}

#videos{
    height: 11rem;
    display: inline-flex;
    width: 20em;
    overflow-x: auto;
    white-space: nowrap;
    border-top: solid 4px rgb(240, 54, 54);
}

#wiki{
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-top: solid 4px rgb(13, 152, 245);
}

#youtubeApi{
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-top: solid 4px rgb(207, 207, 207);
}

/*home*/
.home{
    width: 100%;
    height: 50vh;
    background-image: url("./images/banner.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    text-align:center;
    color: rgb(218, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

#accederButton{
    position: absolute;
    top: 3rem;
    left: 80%;
}

#seekerLogo{
    position: absolute;
    top: 3rem;
    left: 14%;
    color: white;
}

.presentation{
    background-color: black;
    width: 100%;
    height: 50vh;
}

.caja{
    padding: 1rem;
    text-align:center;
    color:white;
}

.caja p{
    color: gray;
    font-size: 11px;
}

.box{
    padding-top:2rem;
    padding-bottom:2rem;
}

.pres{
    padding-top: 3rem;
}

.home span{
    color: rgb(243, 241, 241);
    font-size: 30px;
    font-weight: 100;
}

.home p{
    color: rgba(0,0,0,0);
    background-color:rgb(243, 241, 241);
    opacity:0.6; /* Opacidad 60% */
}

.imageLogin{
    width: 100%;
    height: 100vh;
    background-image: url("./images/startup-849804_1920.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bodyLogin{
    float: right;
    background-color: white;
    width: 50%;
    height: 100vh;
}

#loginForm{
    margin-left: 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: small;
    
}

#registro{
    color: blue;
    font-size: 11px;
    margin-top: 1rem;
    cursor: pointer;
}

#registro:hover{
    color: rgb(105, 105, 177);
}

.radio{
    width: 1rem;
    margin-top: 6px;
    margin-right: 1.5rem;
    margin-left: .3rem;
}

.sex{
    display: inline-flex;
}

.divisor{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(236, 235, 235);
    margin-bottom: 1rem;
}

.button{
    color: #3593f8;
    margin-top: .5rem;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

.button:hover{
    color: #70b4fd;
}

.button:active{
    color: #86befa;
}

.bodyNew{
    display: inline-flex;
}

.image{
    width: 10rem;
    height: 6rem;
}

#news{
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-top: solid 4px rgb(240, 237, 81);
}

#iconAndTitle{
    display: inline-flex;
    margin-top: 1rem;
}

#iconAndTitle h6{
    margin-left: .5rem;
}

.likeIcon{
    cursor: pointer;
    float: right;
    color: gray;
    height: 1.5rem;
    margin-right: .3rem;
}

#usuario{
    float: right;
}

.seekerBody{
    margin-left: 5%;
    width: 90%;
}

.fav{
    background-color: white;
    padding: 3rem;
    padding-bottom: 0rem;
    margin-top: 0;
}

.fav img{
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#sep{
    width: 60%;
}

.load{
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.icon{
    color: gray;
    font-size: 50px;
    float: center;
}